@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/JavaScript.js"></script>
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<body>
    <h2 class="text-center">Gripper Sizer Form</h2>

    <!--Customer Information - not effected by refresh button-->

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form class="justify-content-center">
                <fieldset>
                    <legend>User Information</legend>
                    <div class="form-group">
                        <label><i class="far fa-user"></i> Name</label>
                        <input id="cname" type="text" /> <br />
                    </div>
                    <div class="form-group">
                        <label><i class="fas fa-envelope-square"></i> Email</label>
                        <input id="email" type="email" /> <br />
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>

    <!--Form selection buttons - imperial/metric-->

    <div id="panelControllers">
        <label class="panelControlBtn" onclick="GetUnits()" data-id="1" id="imp"><input class="btn btn-default" id="hide1" type="radio" checked="checked" name="toggle"><span class="txt">Imperial</span></label>
        <label class="panelControlBtn" onclick="GetUnits()" data-id="2" id="met"><input class="btn btn-default" id="hide2" type="radio" name="toggle"><span class="txt">Metric</span></label>
    </div>

    <!--Imperial form start here (default form)-->

    <div class="panel" id="panel1">
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <form id="myForm">
                    <fieldset>
                        <legend>Application Description</legend>
                        <div class="form-group">
                            <label>PSI</label>
                            <input id="psi" type="text" /> PSI <br />
                        </div>

                        <div class="form-group">
                            <label>ID or OD</label><button type="button" class="btn btn-outline-info ex" data-toggle="modal" data-target="#myModal4">See Example</button>
                            <br />
                            <input class="IDOD" type="radio" name="IDOD" value="ID" /> ID (Grip on open) <br />
                            <input class="IDOD" type="radio" name="IDOD" value="OD" /> OD (Grip on close)<br />

                        </div>
                        <div class="form-group">
                            <label>  Maximum Part and Tooling/Jaw Weight (pounds)</label>
                            <br />
                            <input type="text" id="Maxwt" /> Pounds <br />
                        </div>
                        <div class="form-group">
                            <label>Friction or Encompassing Grip</label><button type="button" class="btn btn-outline-info ex" data-toggle="modal" data-target="#myModal3">See Example</button> <br />
                            <input type="radio" class="grip" name="grip" value="Friction" /> Friction Grip <br />
                            <input type="radio" class="grip" name="grip" value="Encompassing" /> Encompassing Grip <br />
                        </div>
                        <div class="form-group">
                            <label>Jaw Length (inches)</label>
                            <input id="jlength" type="text" /> inches <br />
                        </div>
                        <div class="form-group">
                            <label> Jaw Orientation </label>
                            <select name="orientation" id="orientation">
                                <option value="Down">Down</option>
                                <option value="Up-Down">Up-Down</option>
                                <option value="Left-Right">Left-Right</option>
                            </select>
                            <button type="button" class="btn btn-outline-info ex" data-toggle="modal" data-target="#myModal">See Example</button>
                            <br />
                        </div>
                        <div class="form-group">
                            <label> G Force Up/Down (Gs)</label>
                            <input id="gup" type="text" /> G's <br />
                        </div>
                        <div class="form-group">
                            <label> G Force Left/Right (Gs)</label>
                            <input id="gside" type="text" /> G's <br />
                        </div>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-success " id="btn" onclick="javascript:GSide(GetUnits)">Submit</a>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-lg-6" id="right">
                <form id="myForm1">
                    <fieldset>
                        <legend>Application Requirements</legend>
                        <div class="form-group">
                            <label>Gripping Force Required (Pounds)</label>
                            <input id="force" readonly="readonly" type="text" value="" />
                        </div>
                        <div class="form-group">
                            <label>Ma (In-Pounds)</label>
                            <input id="mainch" readonly="readonly" type="text" value="" />
                        </div>
                        <div class="form-group">
                            <label>Mb/Mc (In-Pounds)</label>
                            <input id="mbmcinch" readonly="readonly" type="text" value="" />
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal2">View Diagram</button>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Reccomendations</legend>
                        <table id="modeltable">
                            <tr>
                                <th>Models</th>
                                <th>Ma (In-Pound)</th>
                                <th>Mb/c (In-Pound)</th>
                                <th>Stroke(In)</th>
                                <th>Closing Force (Pounds)</th>
                                <th>Opening Force (Pounds)</th>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <!--metric form starts here-->

    <div class="panel" id="panel2" style="display:none">
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <form id="myForm2">
                    <fieldset>
                        <legend>Application Description</legend>
                        <div class="form-group">
                            <label> BAR </label>
                            <input id="mpsi" type="text" /> BAR <br />
                        </div>

                        <div class="form-group">
                            <label>ID or OD</label> <button type="button" class="btn btn-outline-info ex" data-toggle="modal" data-target="#myModal4">See Example</button>
                            <br />
                            <input class="IDOD" type="radio" name="IDOD" value="ID" /> ID (Grip on open) <br />
                            <input class="IDOD" type="radio" name="IDOD" value="OD" /> OD (Grip on close)<br />
                        </div>
                        <div class="form-group">
                            <label>  Maximum Part and Tooling/Jaw Weight (kg)</label>
                            <br />
                            <input type="text" id="mMaxwt" /> kg <br />
                        </div>
                        <div class="form-group">
                            <label>Friction or Encompassing Grip</label> <button type="button" class="btn btn-outline-info ex" data-toggle="modal" data-target="#myModal3">See Examples</button> <br />
                            <input type="radio" class="grip" name="grip" value="Friction" /> Friction Grip <br />
                            <input type="radio" class="grip" name="grip" value="Encompassing" /> Encompassing Grip
                            <br />
                        </div>
                        <div class="form-group">
                            <label>Jaw Length (mm)</label>
                            <input id="mjlength" type="text" /> mm <br />
                        </div>
                        <div class="form-group">
                            <label> Jaw Orientation</label>
                            <select name="orientation" id="orientation">
                                <option value="Down">Down</option>
                                <option value="Up-Down">Up-Down</option>
                                <option value="Left-Right">Left-Right</option>
                            </select>
                            <button type="button" class="btn btn-outline-info ex" data-toggle="modal" data-target="#myModal">See Examples</button>
                            <br />
                        </div>
                        <div class="form-group">
                            <label> G Force Up/Down (Gs)</label>
                            <input id="gup" type="text" /> G's <br />
                        </div>
                        <div class="form-group">
                            <label> G Force Left/Right (Gs)</label>
                            <input id="gside" type="text" /> G's <br />
                        </div>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-success " id="mbtn" onclick="javascript:GSide(GetUnits)">Submit</a>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-lg-6" id="mright">
                <form id="myForm3">
                    <fieldset>
                        <legend>Application Requirements</legend>
                        <div class="form-group">
                            <label>Gripping Force Required (Newtons)</label>
                            <input id="mforce" readonly="readonly" type="text" value="" />
                        </div>
                        <div class="form-group">
                            <label>Ma (Newton-Meters)</label>
                            <input id="mmainch" readonly="readonly" type="text" value="" />
                        </div>
                        <div class="form-group">
                            <label>Mb/Mc (Newton-Meters)</label>
                            <input id="mmbmcinch" readonly="readonly" type="text" value="" />
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal2">View Diagram</button>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Reccomendations</legend>
                        <table id="mmodeltable">
                            <tr>
                                <th>Models</th>
                                <th>Ma (Newton-Meters)</th>
                                <th>Mb/c (Newton-Meters)</th>
                                <th>Stroke(mm)</th>
                                <th>Closing Force (Newtons)</th>
                                <th>Opening Force (Newtons)</th>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div id="hiddendiv" style="display:none">
        <hr />
        <div class="card card-body bg-light" id="hidden">
            <p>To have this form emailed to yourself and Zaytran Automation, click Send Email button below:</p>
            <div id="hiddenbtn">
                <a class="btn btn-outline-warning" id="sendemail" onclick="SaveData(GetUnits())">Send Email To Me</a>
                <a class="btn btn-outline-danger" id="reload" onclick="ReloadForm(GetUnits)">Reset Form</a>
            </div>
        </div>
    </div>

    <div id="hiddendiv2" style="display:none">
        <hr />
        <div class="card card-body bg-light" id="hidden">
            <p>Please reload and try again</p>
            <div id="hiddenbtn">
                <a class="btn btn-outline-danger" id="reload" onclick="ReloadForm(GetUnits)">Reset Form</a>
            </div>
        </div>
    </div>

    <!-- Jaw Orientaion Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <img class="modalpop" src="~/Content/Images/jaworientation.PNG" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Friction/Encompassing Modal -->
    <div id="myModal3" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <img class="modalpop" src="~/Content/Images/Friction-Encomp.gif" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Gripper Requirements Modal -->
    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Gripper Requirements Diagram</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <img class="modalpop" src="~/Content/Images/ZaytranDiagram.png" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- ID/OD Modal -->
    <div id="myModal4" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <img class="modalpop" src="~/Content/Images/idodimage.gif" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>